<div>
  <div id="sources">
    <button ref="{{ addSourceButton }}">+</button>
    <button ref="{{ analyzeButton }}">Analyze</button>
    {% for source in sources %}
      <div data-key="{{ source.index }}">
        <select ref="{{ sourceAttribute }}" data-name="type" value="{{ source.type }}">
          <option value="system">System</option>
          <option value="constellation">Constellation</option>
          <option value="region">Region</option>
        </select>
        <input ref="{{ sourceAttribute }}" type="text" data-name="value" value="{{ source.value }}" />
        <input ref="{{ sourceAttribute }}" type="datetime-local" data-name="start" value="{{ source.start }}" />
        <input ref="{{ sourceAttribute }}" type="datetime-local" data-name="end" value="{{ source.end }}" />
        <button ref="{{ removeSourceButton }}">&times;</button>
      </div>
    {% endfor %}
  </div>
  <div id="teams">
    {% for team in teams %}
      <div>
        {% for team_member in team %}
          <div data-key="{{ team_member }}">
            <button class="moveTeamLeft" ref="{{ moveTeamLeftButton }}">&lt;</button>
            <span>{{ idToName[team_member] }}</span>
            <button class="moveTeamRight" ref="{{ moveTeamRightButton }}">&gt;</button>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div id="players">
    {% for team in teams %}
      <div>
        {% for team_member in team %}
          {% for player in players %}
            {% if player.alliance_id == team_member or player.alliance_id == team_member %}
              <div data-key="{{ player.character_id }}">{{ idToName[player.character_id] }}</div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>